.custom-nav-list {
  padding: 0 0.5em;
  border: 1px solid $border-color;
  border-radius: $border-radius;

  @include breakpoint($large) {
    padding: inherit;
    border: inherit;
    border-radius: inherit;
  }

  a {
    color: inherit;
  }

  .active {
    margin-inline-start: -0.5em;
    padding-inline: 0.5em;
    font-weight: bold;
  }

  label {
    .toggle-icon {
      display: inline-block;
      position: relative;
      height: 0.75em;
      width: 0.75em;
      &::before,
      &::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 0.125em;
        left: 50%;
        top: 50%;
        line-height: 1;
        background-color: $gray;
        -webkit-transition: 0.2s ease-out;
        transition: 0.2s ease-out;
      }
    }
  }

  input[type="checkbox"] {
    &.toggler,
    &.toggler-m {
      display: none;

      &:not(:checked) + label {
        border-bottom: none;
        .toggle-icon::before {
          -webkit-transform: rotate(90deg);
          -ms-transform: rotate(90deg);
          transform: rotate(90deg);
        }
      }
    }
  }

  .togglable,
  .togglable-m {
    position: relative;
    overflow: hidden;
    -webkit-transition: 0.5s ease-in-out;
    transition: 0.5s ease-in-out;
    li {
      padding: 0.3em 0;
    }
  }

  label.toggler {
    display: none;
  }
  label.toggler-m {
    display: inherit;
  }

  input.toggler-m:checked ~ .togglable-m {
    margin-bottom: 0.5em;
    max-height: 9999px;
    opacity: 1;
    -webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
    transform: translate(0, 0);
  }

  input.toggler-m:not(:checked) ~ .togglable-m {
    margin-bottom: 0;
    max-height: 0;
    opacity: 0;
    -webkit-transform: translate(0, -10%);
    -ms-transform: translate(0, -10%);
    transform: translate(0, -10%);
  }

  @include breakpoint($large) {
    label.toggler {
      display: inherit;
    }
    label.toggler-m {
      display: none;
    }

    input.toggler:checked ~ .togglable {
      margin-bottom: 0.5em;
      max-height: 9999px;
      opacity: 1;
      -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
      transform: translate(0, 0);
    }
    input.toggler:not(:checked) ~ .togglable {
      margin-bottom: 0;
      max-height: 0;
      opacity: 0;
      -webkit-transform: translate(0, -10%);
      -ms-transform: translate(0, -10%);
      transform: translate(0, -10%);
    }
  }
}
