div.timeline {
  margin: 20px auto;
  padding: 20px;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    height: 100%;
    width: 2px;
    left: 168px;
    background-color: $primary-color;
    box-shadow: 0 0 10px 2px #0003;

    @media (max-width: 768px) {
      left: 18px;
    }
  }

  div.timeline-content-wrapper {
    display: grid;
    grid-template-columns: 150px 1fr;

    @media (max-width: 768px) {
      grid-template-columns: 1fr;
    }

    > div.label {
      margin: 10px 20px 20px 0;
      @media (max-width: 768px) {
        margin: 10px 0 10px 20px;
      }
      > div.period {
        position: relative;
        text-shadow: 1px 1px 3px #0003;
        &::before {
          content: "";
          position: absolute;
          width: 10px;
          height: 10px;
          background: $background-color;
          border-radius: 999px;
          top: 30%;
          left: 141px;
          border: 3px solid $danger-color;
          box-shadow: 0 0 10px 1px #0003;
          box-sizing: content-box;
          @media (max-width: 768px) {
            left: -30px;
          }
        }
      }
    }

    > div.content {
      margin: 0 0 20px 20px;
    }
  }
}
