@import "components";
@import "pagination";
@import "sidebar-nav";
@import "main-page-hero";
@import "pages/about-me";

.print-only {
  display: none;
  @media print {
    display: inherit;
  }
}

.web-only {
  @media print {
    display: none;
  }
}
