---
layout: default
---

{% assign category_key = page.category_key %}
{% assign category_name = site.data.categories[category_key].name | default: category_key %}
{% assign posts = site.categories[category_key] %}
{% assign pagination_key = 'category-' | append: category_key %}

<div id="main" role="main">
  {% include sidebar.html options=page.custom_sidebar %}

  <div class="archive">
    {% unless page.header.overlay_color or page.header.overlay_image %}
    <h1 id="page-title" class="page__title"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>{{ category_name }}</h1>
    {% endunless %}
    {% include custom/pagination.html posts=posts key=pagination_key %}
  </div>
</div>