{%- assign crumb_path = '/' -%}
{%- assign breadcrumb_separator = ">" -%}

<nav class="breadcrumbs{% if include.class %} {{ include.class }}{% endif %}">
  <ol{% if include.sidebar_indent %} class="sidebar-indent"{% endif %} itemscope itemtype="https://schema.org/BreadcrumbList">
    {%- assign crumbs = page.url | split: '/' -%}
    {%- assign i = 1 -%}
    {%- for crumb in crumbs offset: 1 -%}
      {%- if forloop.first -%}
        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ '/' | relative_url }}" itemprop="item"><span itemprop="name">{{ site.data.ui-text[site.locale].breadcrumb_home_label | default: "Home" }}</span></a>
        </li>
        <span class="sep">{{ breadcrumb_separator }}</span>
      {%- endif -%}
      {%- if forloop.last -%}
        {%- capture variable_title %}{% include variable_title.html page_info=page %}{% endcapture -%}
        {{ " " }}
        <li class="current"{% if page.locale %} lang="{{ page.locale }}"{% endif %}>{{ page.title | default: variable_title }}</li>
      {%- else -%}
        {%- assign crumb_path = crumb_path | append: crumb | append: '/' -%}
        {%- assign page_info = site.pages | where: "url", crumb_path | first -%}
        {%- unless page_info -%}
          {%- assign page_info = site.posts | where: "url", crumb_path | first -%}
        {%- endunless -%}
        {%- unless page_info -%}
          {%- continue -%}
        {%- endunless -%}

        {%- assign i = i | plus: 1 -%}
        {%- capture variable_title %}{% include variable_title.html page_info=page_info %}{% endcapture -%}

        <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem">
          <a href="{{ crumb_path }}" itemprop="item"><span itemprop="name">{{ page_info.title | default: variable_title }}</span></a>
        </li>
        <span class="sep">{{ breadcrumb_separator }}</span>
      {%- endif -%}
    {%- endfor -%}
  </ol>
</nav>