{%- if site.footer_scripts -%}
  {%- for script in site.footer_scripts -%}
    <script src="{{ script | relative_url }}"></script>
  {%- endfor -%}
{%- else -%}
  <script src="{{ '/assets/js/main.min.js' | relative_url }}"></script>
{%- endif -%}

{%- include analytics-script.html -%}
{%- include /blog/comments-script.html -%}

{%- if site.after_footer_scripts -%}
  {%- for script in site.after_footer_scripts -%}
    <script src="{{ script | relative_url }}"></script>
  {%- endfor -%}
{%- endif -%}

{%- if page.use_mathjax -%}
  {%- include mathjax-script.html -%}
{%- endif -%}

{%- if page.use_qrcode -%}
  {%- include qrcode-script.html -%}
{%- endif -%}