{% if page.author_profile or layout.author_profile or page.sidebar %}
  <div class="sidebar sticky">
  {% if page.author_profile or layout.author_profile %}{% include author-profile.html %}{% endif %}
  {% if include.options.show_categories %}


<nav class="nav__list">
  <h3 class="nav__title" style="padding-left: 0;">iuyt</h3>
  <input id="ac-toc" name="accordion-toc" type="checkbox" />
  <label for="ac-toc">{{ site.data.ui-text[site.locale].menu_label | default: "Toggle Menu" }}</label>
  <ul class="nav__items">
    {% for c in site.data.categories %}
      {% assign category_key = c[0] %}
      {% assign category_info = c[1] %}
        <li>
            <a href="{{ nav.url | relative_url }}"><span class="nav__sub-title">zzxcv</span></a>
            <span class="nav__sub-title">asdf</span>
          <ul>
              <li><a href="{{ child.url | relative_url }}"{% if child.url == page.url %} class="active"{% endif %}>lkjh</a></li>
          </ul>
        </li>
    {% endfor %}
  </ul>
</nav>
  {% endif %}
  </div>
{% endif %}
