<div class="sidebar sticky">
  <nav class="custom-nav-list">
    <input id="category-toggle" name="category-toggle" class="toggler" type="checkbox" checked />
    <label for="category-toggle" class="nav__sub-title toggler">카테고리 <span class="toggle-icon"></span></label>
    <input id="category-toggle-m" name="category-toggle-m" class="toggler-m" type="checkbox" />
    <label for="category-toggle-m" class="nav__sub-title toggler-m">카테고리 <span class="toggle-icon"></span></label>
    <ul class="togglable togglable-m">
      {%- assign base_url = site.data.blog.categories.base_url -%}
      {%- for c in site.data.blog.categories.main -%}
        {%- assign category_key = c[0] -%}
        {%- assign category_name = c[1].name -%}
        {%- assign category_url = category_key | prepend: base_url -%}
        {%- if category_key == 'all' -%}
          {%- assign category_size = site.posts | size -%}
        {%- else -%}
          {%- assign category_size = site.categories[category_key] | size -%}
        {%- endif -%}
        <li>
          <a href="{{ category_url }}"><span class="active">{{ category_name }}</span> {{ category_size }}</a>
        </li>
      {%- endfor -%}
    </ul>
  </nav>
</div>