.about-me {
  @media print {
    a[href]:after {
      content: "";
    }
  }

  h2 {
    margin: 0.5em 0 0.5em;
    border-bottom: 1px solid $primary-color;
    @media print {
      font-size: 1.25em;
    }
  }

  .expand-toggle {
    display: none;

    &:checked + .expandable > .expandable-content {
      transform: translateY(0%);
    }

    &:not(:checked) + .expandable {
      height: 0;
      > .expandable-content {
        transform: translateY(-100%);
      }
    }

    &:checked ~ label > .expand-more {
      display: none;
    }
    &:not(:checked) ~ label > .expand-less {
      display: none;
    }
  }

  .expandable {
    overflow-y: clip;
    > .expandable-content {
      transition: transform 0.5s ease;
    }
  }

  .expand-label {
    font-size: 0.9em;
    color: $muted-text-color;
    &:hover {
      color: $primary-color;
    }

    @media print {
      display: none;
    }
  }

  .intro {
    display: flex;
    justify-content: space-around;

    > .profile-container {
      display: flex;
      align-items: center;
      justify-content: center;
      width: 40%;
      > img {
        width: auto;
        height: auto;
        object-fit: contain;
        border-radius: 5px;
        box-shadow: 0 0 10px 0 #0003;
      }
    }

    > .intro-text {
      width: 60%;
      h1 {
        margin: 0 0 0.5em 0;
        @media print {
          font-size: 1.5em;
        }
      }
      padding: 1em;

      p:last-child {
        margin-bottom: 0;
      }
    }

    @include breakpoint(max-width $small - 1px) {
      flex-direction: column;
      > .profile-container {
        width: 100%;
      }
      > .intro-text {
        width: 100%;
      }
    }
  }

  .info-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1em;
    margin-top: 2em;

    @include breakpoint(max-width $small - 1px) {
      grid-template-columns: 1fr;
    }

    .info-box {
      .info-item {
        margin: 0.5em 0;
        font-size: 0.9em;
      }
      ul {
        padding: 0;
      }
      li {
        list-style: none;
        font-size: 0.9em;
      }
      a {
        color: inherit;
        text-decoration: none;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }

  .work-experience {
    $work-experience-timeline-period-width: 7.8em;

    div.work-experience-timeline {
      margin: 1em auto;
      position: relative;

      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 0.1em;
        margin-left: -0.05em;
        left: $work-experience-timeline-period-width;
        background-color: $primary-color;
        box-shadow: 0 0 0.5em 0.1em #0003;

        @media print {
          -webkit-print-color-adjust: exact;
        }

        @include breakpoint(max-width $small - 1px) {
          left: 0.5em;
        }
      }

      div.work-experience-timeline-content-wrapper {
        display: grid;
        grid-template-columns: $work-experience-timeline-period-width 1fr;

        @include breakpoint(max-width $small - 1px) {
          grid-template-columns: 1fr;
        }

        > div.work-experience-timeline-label {
          margin: 0 1em 1em 0;
          @include breakpoint(max-width $small - 1px) {
            margin: 0 0 0.5em 1.5em;
          }
          > div.work-experience-timeline-period {
            position: relative;
            text-shadow: 0.05em 0.05em 0.15em #0003;
            > span {
              font-size: 0.75em;
            }
            &::before {
              content: "";
              position: absolute;
              width: 0.5em;
              margin-left: -0.4em;
              height: 0.5em;
              margin-top: -0.4em;
              background: $background-color;
              border-radius: 999px;
              top: 50%;
              left: $work-experience-timeline-period-width;
              border: 0.15em solid $danger-color;
              box-shadow: 0 0 0.5em 0.05em #0003;
              @include breakpoint(max-width $small - 1px) {
                left: -1em;
              }
            }
          }
        }

        > div.work-experience-timeline-content {
          margin: 0 0 1em 1em;
          @include breakpoint(max-width $small - 1px) {
            margin-left: 1.5em;
          }
          h3 {
            margin: 0 0 0 0;
            font-size: 1em;
            @media print {
              font-size: 1em;
            }
          }
          h4 {
            margin: 0.2em 0 0.5em 0;
            font-size: 1em;
            @media print {
              font-size: 1em;
            }
          }
          .work-experience-job-description {
            font-size: 0.9em;
          }
        }
      }
    }
  }

  .projects {
    hr {
      border-color: $muted-text-color;
    }
    > .project {
      margin: 1em 0;

      .preview {
        display: flex;
        align-items: center;

        @include breakpoint(max-width $small - 1px) {
          flex-direction: column;
          align-items: flex-start;
        }

        .image-container {
          overflow: clip;
          border-radius: $border-radius;
          background-color: $primary-color;
          width: 10em;
          height: 10em;
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;
          flex-shrink: 0;
          user-select: none;

          margin-right: 1em;

          transition: transform 0.2s ease;

          &:hover {
            img {
              transform: scale(1.05);
            }
          }

          @media print {
            -webkit-print-color-adjust: exact;
          }

          @include breakpoint(max-width $small - 1px) {
            margin-bottom: 1em;
          }

          img {
            object-fit: cover;
            background-color: $background-color;

            &.landscape {
              width: 100%;
              height: auto;
            }
            &.portrait {
              width: auto;
              height: 100%;
            }
          }
        }

        p,
        h3 {
          margin: 0.5em 0 0.5em;
        }

        h3 {
          font-size: 1.125em;
          @media print {
            font-size: 1.125em;
          }
        }
      }

      .image-list-container {
        display: flex;
        overflow-x: auto;
        margin: 1em 0;
        width: 100%;

        > .image-container {
          cursor: pointer;
          user-select: none;
          width: 7em;
          height: 7em;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: clip;
          flex-shrink: 0;
          background-color: $primary-color;

          transition: transform 0.2s ease;

          &:hover {
            img {
              transform: scale(1.05);
            }
          }

          @media print {
            -webkit-print-color-adjust: exact;
          }

          &:not(:last-child) {
            margin-right: 0.5em;
          }

          img {
            background-color: $background-color;
            object-fit: cover;

            &.landscape {
              width: 100%;
              height: auto;
            }
            &.portrait {
              width: auto;
              height: 100%;
            }
          }
        }
      }
    }

    .expand-label {
      text-align: center;
    }
  }
}

.image-modal {
  user-select: none;
  position: relative;
  overflow: clip !important;

  img {
    object-fit: cover;
    background-color: $background-color;

    &.landscape {
      width: 90vw;
      height: auto;
    }

    &.portrait {
      width: auto;
      height: 90vw;
    }

    @media (min-aspect-ratio: 1/1) {
      &.landscape {
        width: 90vh;
        height: auto;
      }

      &.portrait {
        width: auto;
        height: 90vh;
      }
    }
  }

  .modal-close-button-wrapper {
    position: absolute;
    top: 0;
    width: 100%;
    opacity: 0.6;
  }
}