---
title: About Me
classname: about-me
hide_title: true
---

{%- assign language = "ko" -%}

<div class="intro">
  <div class="profile-container">
    <img src="/images/profile.jpg" alt="" />
  </div>
  <div class="intro-text">
    {%- assign title = site.data.about-me.main.title[language] -%}
    {%- include h1.html h1_text=title -%}
    <!--excerpt open-->
    {%- for line in site.data.about-me.main.lines -%}
      <p>{{ line[language] }}</p>
    {%- endfor -%}
    <!--excerpt close-->
  </div>
</div>

<div class="info-grid">
  <div class="info-box">
    <h2>Education</h2>
    {%- for education in site.data.about-me.main.info.educations -%}
      <div class="info-item">
        <b>{{ education.title[language] }}</b>
        <br />
        <em>{{ education.association[language] }}</em>
        <br />
        {{ education.period }}
        <br />
        {%- if education.gpa -%}
          {{- site.data.about-me.main.translation.gpa[language] }}: {{ education.gpa -}}
        {%- endif -%}
      </div>
    {%- endfor -%}
  </div>
  <div class="info-box">
    <h2>Certificate</h2>
    {%- for certificate in site.data.about-me.main.info.certificates -%}
      <div class="info-item">
        <b>{{ certificate.title[language] }}</b>
        <br />
        <em>{{ certificate.agency[language] }}, {{ certificate.period }}</em>
      </div>
    {%- endfor -%}
  </div>
  <div class="info-box">
    <h2>Skills</h2>
    {%- for skill in site.data.about-me.main.info.skills -%}
      <small class="badge">{% include spec-icon.html spec_key=skill %}</small>
      {{- " " -}}
    {%- endfor -%}
  </div>
  <div class="info-box">
    <h2>Contact</h2>
    <ul class="social-icons">
    {%- for contact in site.data.about-me.main.info.contacts -%}
      <li>
        <a href="{{ contact.url }}" rel="nofollow noopener noreferrer me">
          <i class="{{ contact.icon }}" aria-hidden="true"></i> {{ contact.label }}
        </a>
      </li>
    {%- endfor -%}
    </ul>
  </div>
</div>

<div class="work-experience">
  <h2>Work Experience</h2>

  <div class="work-experience-timeline">
    {%- for work_experience in site.data.about-me.main.work_experiences -%}
      <div class="work-experience-timeline-content-wrapper">
        <div class="work-experience-timeline-label">
          <div class="work-experience-timeline-period">
            <span>{{ work_experience.period }}</span>
          </div>
        </div>
        <div class="work-experience-timeline-content">
          <div class="work-experience-job-title">
            {{- work_experience.job_title[language] -}}
          </div>
          <div class="work-experience-job-description">
            <em>{{ work_experience.company }} {{ work_experience.affiliation[language] }}</em>
            <br />
            {%- for work_spec_key in work_experience.specs -%}
            <small class="badge">{% include spec-icon.html spec_key=work_spec_key %}</small>
              {{- " " -}}
            {%- endfor -%}
            <br />
            <ul>
              {%- for main_task in work_experience.main_tasks -%}
                <li>{{ main_task[language] }}</li>
              {%- endfor -%}
            </ul>
          </div>
        </div>
      </div>
    {%- endfor -%}
  </div>
</div>