---
---

<!doctype html>
{%- include copyright.html -%}
<html lang="{{ site.locale | replace: "_", "-" | default: "en" }}" class="no-js">
  <head>
    {% include head.html %}
  </head>

  <body dir="ltr">
    {%- include_cached skip-links.html -%}
    {%- include_cached masthead.html -%}

    <div class="initial-content">
      {{- content -}}
    </div>

    <div id="modal-root"></div>

    <div id="footer" class="page__footer">
      <footer>
        {%- include_cached footer.html -%}
      </footer>
    </div>

    {%- include scripts.html -%}
  </body>
</html>